@page
@model WebAppUnderTheHood.Pages.HumanResources.IndexModel
@{
    ViewData["Title"] = "Human Resources";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Human Resources</h1>
</div>
