@page
@model WebAppUnderTheHood.Pages.HumanResources.ManagerModel
@{
    ViewData["Title"] = "Human Resources Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Human Resources Manager page</h1>
</div>
